[project]
	description = A heroku app that exposes features from https://github.com/codelucas/newspaper/ as json API
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Khait (mikkhait)
[access "refs/for/refs/*"]
	read = group user/Michael Khait (mikkhait)
	push = group user/Michael Khait (mikkhait)
	label-Code-Review = -2..+2 group user/Michael Khait (mikkhait)
	label-Verified = -1..+1 group user/Michael Khait (mikkhait)
	rebase = group user/Michael Khait (mikkhait)
	removeReviewer = group user/Michael Khait (mikkhait)
	submit = group user/Michael Khait (mikkhait)
[access "refs/heads/*"]
	read = group user/Michael Khait (mikkhait)
	create = group user/Michael Khait (mikkhait)
	push = +force group user/Michael Khait (mikkhait)
	pushMerge = group user/Michael Khait (mikkhait)
[access "refs/tags/*"]
	push = +force group user/Michael Khait (mikkhait)
	pushTag = group user/Michael Khait (mikkhait)
	pushSignedTag = group user/Michael Khait (mikkhait)
